{% extends 'base.html' %}

{%block content%}

<div class="container">
    <div class="row">
        {%for blog in blogs%}
        <div class=" col-md-4" style="background-image: url(https://media.istockphoto.com/photos/visual-contents-concept-social-networking-service-streaming-video-picture-id1289323170?b=1&k=20&m=1289323170&s=170667a&w=0&h=_mVTXluDgqHGZkvsG20yMKGBbPih4_sOSL_pqSnU0Qg=); background-repeat: no-repeat; background-size: cover; height: 80vh;  background-position: center;">
            <div class="panel text-center" style="box-shadow: 0 4px 8px 0 rgba(15, 14, 14, 0.87);">
                <div class="panel-head text-info">
                    <h3>{{blog.title_blog}}</h3>
                </div>
                <hr>
                <div class="panel-body">
                    <p>{{blog.blog_content}</p>
                    <p class="text-right text-muted"> <b> {{blog.user.username}} </b></p>
                </div>
                <div class="panel-footer">
                    <p class="date text-muted">Posted on  {{blog.date.strftime('%Y-%m-%d')}}</p>
                    <a href="{{url_for('main.view', id=blog.id)}}"><i class="fas fa-comment fa-fw"></i></a>
                    {% if blog.user == current_user%}
                    <a href="{{url_for('main.delete', id=blog.id)}}"><i class="fas fa-trash-alt fa-fw btn btn-danger"></i></a>
                    <a href="{{url_for('main.update_blog', id=blog.id)}}"><i class="fas fa-marker fa-fw"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}